
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add New Issue Page</title>
		<meta name="description" content="allows logged user to add new issue">
		<meta name="author" content="Mitko Donchev">
		<link href="{{host}}/new.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>New Issue</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
	<main id="new">
    <div class="contact-us">
      <p>Please fill the form and submit a new issue.</p>
      <form method="POST" action="/issue/new" enctype="multipart/form-data">
        <label>Title:
          <input type="text" name="title" required/>
        </label>
        <label>Description:
          <textarea name="description" cols="50" rows="5" required></textarea>
        </label>
        <label> Status:
          <select name="status" id="stat">
            <option value="new">New</option>
          </select>
        </label>
        <label>Image: 
          <input type="file" name="image" accept=".png, .jpg, .jpeg" />
        </label>
        <br>
        <input type="submit">
      </form>
      <p><a href="/">Home page</a></p>
    </div>
	</main>
	</body>
</html>