* {
  padding:0;
  margin:0;
}

body {
  font-family:'Roboto Mono', monospace;
  background: #f1802d;
  margin: 0;
  height: 100vh;
}

figure {
  width: 15em;
  display: inline-flex;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.container {
  margin: 0 auto;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
}

.button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #FC6E51;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  max-width: 6em;
  max-height: 15px;
  left: 55%;
}

.login a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none; 
  font-size: 1.25em;
  display: flex;
  text-align: center;
}

header {
  max-height: 100px;
  margin-bottom: 25px;
}

.navbar {
  background: #96271f;
  box-shadow: 0px 6px 20px hsl(0, 0%, 0%);
}

body {
  display:flex;
  flex-direction:column;
}
.footer {
  margin-top:auto;
  box-shadow: 0px -5px 20px hsl(0, 0%, 0%);
  background: #96271f;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 13px;
}

.site-title {
  font-weight: 400;
  margin: 0;
  padding: 10px;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: white;
}

.card {
  background: white;
  margin-bottom: 2em;
  border-radius: 25px;
  min-width: 80%;
  max-width: 80%;
  text-align: center;
}
.card a {
    margin: 10px auto;
    padding-top: 10p;
    color: black;
    text-decoration: none;
    position: static;
}
.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 0%);
  border-radius: 25px;
}
.card-content {
  padding: 0.75em;
  width: 100%;
}
.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
  color: #000000;
  font-size: 1em;
}
.card-content p {
  font-size: 95%;
}
img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

@media screen and (min-width: 44.44em) {
  .site-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 50em) {
  .site-title {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
  }
}

@media screen and (min-width: 60em) {
  .cards {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
  }
}
