body {
  font-family:'Roboto Mono', monospace;
  background: #ecf0f1;
  margin: 0;
  height: 100vh;
}

h2 {
  font-size: 2em;
  color: #96271f;
}

.login a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none; 
  cursor: crosshair;
  font-size: 1.25em;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.container {
  max-width: 75em;
  margin: 0 auto;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header {
  max-height: 100px;
  margin-bottom: 25px;
}
.navbar {
  background: #96271f;
  box-shadow: -1px 10px 8px hsl(0, 0%, 70%);
}
body {
  display:flex;
  flex-direction:column;
}
.footer {
  margin-top:auto;
  box-shadow: -1px -6px 8px hsl(0, 0%, 70%);
  background: #96271f;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 13px;
}
@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}
.site-title {
  font-weight: 400;
  margin: 0;
  padding: 10px;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: black;
}
@media screen and (min-width: 44.44em) {
  .site-title {
    font-size: 2em;
  }
}
@media screen and (min-width: 50em) {
  .site-title {
    font-size: 2.5em;
  }
}

.site-title {
  color: white;
}
.card {
  background: white;
  margin-bottom: 2em;
}
.card a {
  color: black;
  text-decoration: none;
}
.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.card-content {
  padding: 1.4em;
}
.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}
.card-content p {
  font-size: 95%;
}
img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
  }
}

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
  }
}
